<% time = message.created_at.strftime("%H:%M") %>

<% if message.user == current_user %>
  <div class="d-flex justify-content-end mb-2" id="message-<%= message.id %>">
    <div class="bg-success text-white p-2 rounded-3 px-3 message" style="max-width: 75%;">
      <div><strong>You:</strong> <%= message.content %></div>
      <small class="d-block text-end">
        <%= time %> <%= message.read_at.present? ? "✅✅" : "✅" %>
      </small>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-start mb-2 message unread" data-id="<%= message.id %>">
    <div class="bg-light border p-2 rounded-3 px-3" style="max-width: 75%;">
      <div>
        <strong><%= message.user.email %>:</strong>
        <%= message.content %>
      </div>
      <small class="d-block text-end text-muted"><%= time %></small>
    </div>
  </div>
<% end %>
